<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!-- jQuery Mobile CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- jQuery Mobile JS -->
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page" id="loginPage">
        <div data-role="header">
            <h1>Login</h1>
        </div>

        <div role="main" class="ui-content">
            <form th:action="@{/login}" method="post">
                <div class="ui-field-contain">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" value="" />
                </div>
                <div class="ui-field-contain">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" value="" />
                </div>
                <div class="ui-field-contain">
                    <button type="submit" class="ui-btn ui-btn-b">Login</button>
                </div>
            </form>
            <a href="/register" class="ui-btn ui-btn-a">Register</a>
        </div>

        <div data-role="footer">
            <h4>&copy; 2024 Ticket Application</h4>
        </div>
    </div>
</body>
</html>
